.Container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    text-align: left;
    background-color:#f7f7f7;
    color: black;
}

.Linkbox {
    display:flex;
    grid-column: 2/span 2;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: #A5A5AF;
    gap: 1px;
}


.Link_1 {
    flex:1;
    background-color: #f7f7f7;
}
.Link_2 {
    flex:1;
    background-color: #f7f7f7;
}

.Link_3 {
    flex:1;
    background-color: #f7f7f7;
}

.Link_4 {
    flex:1;
    background-color: #f7f7f7;
}


body {
    color: white;
    background-color: #420f2e;
}

h1{
    color:black
}

h5{
    color:white
}

.Header {
    background-color:#A5A5AF;
    text-align:center;
    grid-column: 2/span 2;
}

.content {
    padding: 5%;
    background-color: white;
    color: black;
}

.cube {
    color:black;
    background-color:#4d9a91;
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}

.About_Me {
    text-indent: 1em;
}